extends layout

block content
  div.row
    div.col-md-4
      div.panel.panel-default
        div.panel-heading.clearfix
          h3.panel-title.pull-left Create new container
        div.panel-body
          form(method='POST')
            input(type='text', name='container')
            input(type='submit', value='Create')
    each container in containers
      div.col-md-4
        div.panel.panel-default
          div.panel-heading.clearfix
            h3.panel-title.pull-left= container
          div.panel-body
            a.btn.btn-default(href=container) View objects
            form(method='POST', action=container + '/delete')
              input.btn.btn-danger(type='submit', value='Delete')
