doctype html
html
  head
    title Object-storage-sample
    script(src='/lib/jquery/dist/jquery.min.js')
    script(src='/lib/honoka/dist/js/bootstrap.min.js')
    link(rel='stylesheet', href='/lib/honoka/dist/css/bootstrap.min.css')
  body
    nav.navbar.navbar-default.navbar-static-top
      div.container
        div.navbar-header
          a.navbar-brand(href='/') Object Storage
    div.container
      block content
